@font-face {
  font-family: "Broken";
  src: url("../public/fonts/broken/broken15.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

:root {
  --background-color: #000;
  --font-color: #fff;
  --font-color-1: #9800e3;
  --font-color-2: #7200ab;
  --font-color-3: #4c0072;
  --font-color-4: #260039;
  --grey-1: #3b3b3b;
  --grey-2: #473450;
  --grey-3: #6a1e8f;
  --grey-4: #810fb9;
  --border-color: #12ff2b;
}

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0 auto;
}

#__next {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.App {
  overflow-x: hidden;
  margin: 2rem;
  color: var(--font-color);
  text-align: center;
}

h1 {
  font-family: "Broken", sans-serif;
  font-size: 5rem;
  color: var(--font-color-1);
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: medium;
  font-size: 2em;
  color: var(--font-color-1);
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem 0.3rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 200px;
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 3rem;
  }

  .App {
    margin: 0 0 7rem 0;
  }
}
